* {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

:root {
  --alt-font-family: monospace;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
  --font-5xl: 3rem;

  --line-height-base: 1.5;

  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;
  --gap-xl: 2rem;
  --gap-2xl: 3rem;

  --padding-xs: 0.25rem;
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;
  --padding-2xl: 3rem;
  --padding-3xl: 4rem;

  --radius-none: 0;
  --radius-sm: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-full: 9999px;

  /* Global Colors */
  --text-dark-mode: #f5f5f5;
  --text-light-mode: #000000;
  --success: #3da733;
  --danger: #ee4b2b;
  --href: #658efc;
  --href-alt: #98b4ff;

  /* Light Mode Colors */
  --text: var(--text-light-mode);
  --secondary-text: var(--text-dark-mode);
  --background: #f5f5f5;
  --primary: #49756c;
  --accent: #c9c9c9;
  --border: rgba(0, 0, 0, 0.1);

  /* Initial value of gutters */
  --gutters: 1rem;

  --opacity: 0.7;
  --underline-offset: 5px;
  --desktop-max-width: 1600px;

  color-scheme: light;
}

.dark {
  /* Dark Mode Colors */
  --text: var(--text-dark-mode);
  --secondary-text: var(--text-light-mode);
  --background: #252525;
  --primary: #69968c;
  --accent: #626262;
  --border: rgba(255, 255, 255, 0.1);

  color-scheme: dark;
}

::selection {
  background: var(--accent);
}

.success {
  color: var(--success) !important;
}

.danger {
  color: var(--danger) !important;
}

.colored-text {
  color: var(--primary);
}

body {
  font-size: var(--font-base);
  line-height: var(--line-height-base);
  background: var(--background);
  color: var(--text);
  transition: color 0.25s linear;
}

section {
  gap: var(--gap-lg);
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: opacity 0.25s linear;
}

a:hover,
a:focus,
a:active {
  opacity: var(--opacity);
}

button {
  cursor: pointer;
}

header,
section,
footer {
  padding: var(--gutters);
  max-width: var(--desktop-max-width);
}

h1 {
  font-size: var(--font-2xl);
}

h2 {
  font-size: var(--font-xl);
}

p,
button,
a,
input {
  font-size: var(--font-base);
}

/* Small devices and most phones */
@media screen and (min-width: 480px) {
  :root {
    --gutters: 1.25rem;
  }

  h1 {
    font-size: var(--font-3xl);
  }

  h2 {
    font-size: var(--font-2xl);
  }

  p,
  button,
  a,
  input {
    font-size: var(--font-lg);
  }
}

/* Most tablets */
@media screen and (min-width: 768px) {
  :root {
    --gutters: 1.5rem;
  }

  h1 {
    font-size: var(--font-3xl);
  }

  h2 {
    font-size: var(--font-2xl);
  }

  p,
  button,
  a,
  input {
    font-size: var(--font-xl);
  }
}

/* Smaller desktop */
@media screen and (min-width: 992px) {
  :root {
    --gutters: 1.75rem;
  }

  h1 {
    font-size: var(--font-4xl);
  }

  h2 {
    font-size: var(--font-3xl);
  }

  p,
  button,
  a,
  input {
    font-size: var(--font-2xl);
  }
}

/* Large devices and wide screens */
@media screen and (min-width: 1200px) {
  :root {
    --gutters: 2rem;
  }
}

/* Extra larger screens */
@media screen and (min-width: 1600px) {
  :root {
    --gutters: 2.5rem;
  }
}
