#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.landing-splitter {
  display: flex;
  justify-content: center;
  padding: var(--gutters);
}

.landing-splitter svg {
  width: 25px;
  height: 25px;
}

/* LANDING HEADER */

.landing-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.landing-header-title {
  display: none;
  font-weight: 600;
  color: var(--secondary);
}

.logo-title-container {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.landing-header-cta-container,
.hero-details-cta-container {
  display: flex;
  gap: var(--gap-md);
}

.landing-header-cta,
.hero-details-cta {
  padding: var(--padding-sm) var(--padding-md);
  font-weight: 500;
  color: var(--text);
  border-radius: var(--radius-lg);
}

.landing-header-cta:nth-child(1),
.hero-details-cta:nth-child(1) {
  background-color: var(--accent);
}

.landing-header-cta:nth-child(2),
.hero-details-cta:nth-child(2) {
  background: var(--primary);
  color: var(--secondary-text);
}

/* LANDING HERO */

.landing-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.hero-title,
.hero-subtitle {
  text-align: center;
}

.hero-image-container {
  width: 100%;
}

.hero-image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--radius-lg);
}

.hero-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.hero-details-cta-container {
  width: 100%;
  display: flex;
}

.hero-details-cta {
  width: 100%;
  padding: var(--padding-md);
  text-align: center;
}

/* LANDING ABOUT */

.about-cards-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.about-card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  width: 100%;
  border-bottom: 2px solid var(--border);
  padding-bottom: var(--padding-md);
}

.about-card-title {
  background-color: var(--primary);
  text-align: center;
  padding: var(--padding-md);
  border-radius: var(--radius-lg);
  color: var(--secondary-text);
}

.about-card-image {
  width: 100%;
  height: 200px;
  border-radius: var(--radius-lg);
  object-fit: cover;
}

/* LANDING FOOTER */

.landing-footer {
  text-align: center;
}

/* Small devices and most phones */
@media screen and (min-width: 480px) {
  .landing-splitter svg {
    width: 30px;
    height: 30px;
  }
}

/* Most tablets */
@media screen and (min-width: 768px) {
  .landing-splitter svg {
    width: 35px;
    height: 35px;
  }

  .landing-header-title {
    display: block;
  }

  .landing-hero {
    flex-direction: row;
  }

  .hero-image-container img {
    height: 300px;
  }

  .about-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-card-image {
    height: 300px;
  }
}

/* Smaller desktop */
@media screen and (min-width: 992px) {
  .landing-splitter svg {
    width: 40px;
    height: 40px;
  }

  .hero-image-container img {
    height: 400px;
  }
}

/* Large devices and wide screens */
@media screen and (min-width: 1200px) {
  .landing-splitter svg {
    width: 45px;
    height: 45px;
  }
}

/* Extra larger screens */
@media screen and (min-width: 1600px) {
  .landing-splitter svg {
    width: 50px;
    height: 50px;
  }
}
