# replace these variables with your postgres server information
# these values are used by knexfile.js to connect to your postgres server
pg_host='127.0.0.1'
pg_port=5432
pg_user='postgres'
pg_pass='postgres'
pg_db='emeraldchip'

# replace session secret with your own random string!
# this is used by handlecookiesessions to hash your cookie data
session_secret=''

# when you deploy your database on render, this string can be used to test sql queries to the deployed database.
# leave this value blank until you deploy your database.
pg_connection_string=''

# aws s3 bucket
aws_access_key=''
aws_secret_key=''
aws_s3_region=''
aws_s3_bucket_name=''
